<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
		  <a data-flickr-embed="true" data-header="true"  href="https://www.flickr.com/photos/183343741@N07/48532138281/in/dateposted-public/" title="RW-logo"><img src="https://live.staticflickr.com/65535/48532138281_4804e26974_t.jpg" width="75" height="36" alt="RW-logo"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
